{% extends "base.html" %}

{% block about %}
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">À propos de nous
                </h1>
                <p>Voici l'équipe derrière ce projet lié à l'option ISN - Lycée Jean-Baptiste de la Salle 2014-2015</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Les créateurs</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="http://i.imgur.com/f5ZQV4Y.jpg" alt="">
                <h3>Clément Quaresma
                    <small>Développeur</small>
                </h3>
                <p>Jeune qui croise les doigts pour son BAC.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="http://i.imgur.com/DWOeMqu.jpg" alt="">
                <h3>Yanis Doare
                    <small>Ressources Humaines</small>
                </h3>
                <p>Jeune doué d'ambition et de bon-sens.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-center" src="http://4.bp.blogspot.com/_cZ0o94zaeq8/SAuE7lJEZWI/AAAAAAAAAOM/ecIq2saFoio/s200/PingouinNoir.png" alt="">
                <h3>Anthony Bouraba
                    <small>Recherche et Développement</small>
                </h3>
                <p>Surnommé Monsieur Bonnes-Idées</p>
            </div>

        </div>


    </div>
{% endblock %}
