{% extends "base.html" %}

{% load leaflet_tags %}


{% block index %}

<head>
    {% leaflet_js %}
    {% leaflet_css %}
</head>

<style>

    .leaflet-container {  /* all maps */
        width:  800px;
        height: 800px;
        margin-left:auto;
        margin-right: 50px;
        margin-top: 20px;
    }
</style>
<script type="text/javascript">
    function map_init_basic (map, options) {
        {% for k,v in poi_departs.iteritems %}
        L.marker({{ v }}).addTo(map) ;
        {% endfor %}
        {% for k,v in lines.iteritems %}
        L.polyline({{ v }}).addTo(map) ;
        {% endfor %}
    }
</script>

<script type="text/javascript">
f

</script>


<body>
    {% leaflet_map "yourmap" callback="window.map_init_basic"%}
</body>

{% endblock %}
