{% extends "base.html" %}

{% load leaflet_tags %}


{% block index %}


    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr_jYICO2Yq018K6BIJZ39ZTEdi7klGZg">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</script>


<body>

<div id="map-canvas"></div>
      <div class="row">
          <div class="col-md-6">


          </div>
      <div class="col-md-6"></div>
        </div>

        <div class="col-md-4 text-center">
           <div class='form-group'>
                  <div class="input-group margin-bottom-sm">
                              <span class="input-group-addon"><i class="fa fa-map-marker fa"></i></span>
                                      <input type='text' class='form-control' name='Adresse Départ' placeholder='Adresse départ' />
                    </div>
            </div>

        </div>
    <div class="col-md-4">
              <div class='form-group'>
                  <div class="input-group margin-bottom-sm">
                              <span class="input-group-addon"><i class="fa fa-map-marker fa"></i></span>
                                      <input type='text' class='form-control' name='Adresse arrivée' placeholder='Adresse arrivée' />
                                            </div>
        </div>
    </div>

    <div class="btn-group">
  <a class="btn btn-default" href="#"><i class="fa fa-car"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-bus"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-bicycle"></i></a>
  <a class="btn btn-default" href="#"><i class="fa fa-male"></i></a>  
</div>

</body>


{% endblock %}