{% extends 'base.html' %}

<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?region=GB?language=ja?key=AIzaSyAr_jYICO2Yq018K6BIJZ39ZTEdi7klGZg">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div id="map-container" class="col-md-6"></div>
  </body>
     <form class="form-signin">
        <h2 class="form-signin-heading">Recherchez votre itinéraire</h2>
        <label for="inputEmail" class="sr-only">Adresse départ</label>
        <input type="word" id="Adress" class="word" placeholder="D'où voulez-vous partir?" required autofocus>
        <label for="inputPassword" class="sr-only">Adresse arrivée</label>
        <input type="word" id="word" class="form-control" placeholder="Où arriverez-vous?" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Rechercher</button>
      </form>

</html>
